.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
  }
  .popup-content h3 {
    margin-top: 0;
  }
  .popup-content button {
    margin-top: 15px;
  }

  /* .popup-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 500px;
    height: 300px;
    text-align: center; */